{% extends 'base.html' %}
{% load static %}
{% block title %}Delete my account{% endblock %}
{% block description %}Delete your account with all your data{% endblock %}
{% block header %}Delete my account{% endblock %}
{% block content %}
<div class="appearAnimation d-flex justify-content-center mt-5 px-3">
    <div class="card text-white bg-transparent mb-3 border-1 border-white mt-sm-5 px-3 g-">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h5 class="card-title text-center fs-4 text-decoration-underline">Are you really sure that you want to delete your account?</h5>
            <p class="card-text text-center fs-5 mt-3">After that you won't be able to sign in again and all your data is gone forever. You also automaticly leave the group you are currently part in.</p>
            <button onclick="authenticationPart.classList.remove('d-none')" class="btn border-white btn-danger mt-3 fs-5">I'm concern about that I want to delete my account!</button>

            <div id="authenticationPart" class="mt-5 d-none">
                <p class="fs-5 text-center">Please enter your password just to make sure ;)</p>
                <div class="mb-3">
                    <form class="d-flex flex-column align-items-center" action="{% url 'deleteaccount' %}" method="post">
                        {% csrf_token %}
                        <input type="password" class="form-control form-control" required id="passwordPOST" name="passwordPOST" placeholder="Enter password here...">
                        <button class="btn btn-danger border-white mt-3 fs-5">Delete my account now!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}