{% extends 'base.html' %}
{% block title %}Authentication{% endblock %}
{% block description %}TaskSphere's main authentication page.{% endblock %}
{% block header %}Authentication{% endblock %}
{% block content %}
<div class="main_container">
    <div class="main">
        <span>Would you like to</span>
        <a href="signin/">sign in</a>
        <span>or</span> 
        <a href="signup/">sign up</a>
        <span>or</span> 
        <a href="signout/">sign out</a>
    </div>
</div>
{% endblock %}