{% extends 'base.html' %}
{% block title %}Authentication{% endblock %}
{% block description %}TaskSphere's main authentication page.{% endblock %}
{% block header %}Authentication{% endblock %}
{% block content %}
<div class="appearAnimation d-flex justify-content-center mt-5 px-3">
    <div class="card text-bg-primary mb-3 border-1 border-white mt-sm-5 px-3">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            {% if user.is_authenticated %}
            <div class="container text-center">
                <div class="row g-4">
                    <div class="col-12">
                        <span class="fs-4">What do you want to do?</span>
                    </div>
                    <div class="col-12">
                        <a class="fs-4 mt-3 text-light" href="{% url 'leavegroup' %}">Change or leave the current group</a>
                    </div>
                    <div class="col-12">
                        <span class="fs-4 font-monospace">---------------</span>
                    </div>
                    <div class="col-12">
                        <a class="fs-4 mt-3 text-light" href="{% url 'deleteaccount' %}">Delete your account</a>
                    </div>
                    <div class="col-12">
                        <span class="fs-4 font-monospace">---------------</span>
                    </div>
                    <div class="col-12">
                        <a class="fs-4 mt-3 text-light" href="{% url 'signout' %}">Sign Out</a>
                    </div>
                </div>
            </div>
            {% else %}
            <span class="fs-4">What do you want to do?</span>
            <a class="fs-4 mt-3 text-light fw-bold" href="{% url 'signin' %}">Sign In</a>
            <span class="fs-4 mt-3">or</span>
            <a class="fs-4 mt-3 text-light fw-bold" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}