{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block description %}TaskSphere's sign-up page.{% endblock %}
{% block header %}Sign Up{% endblock %}
{% block content %}
<form action="/authentication/signup/", method="post">
    {% csrf_token %}
    <input id="emailInput" name="emailInput" type="email" placeholder="Email">
    <input id="passwordInput" name="passwordInput" type="password" placeholder="Password">
    <input id="firstnameInput" name="firstnameInput" type="text" placeholder="Firstname">
    <input id="lastnameInput", name="lastnameInput" type="text" placeholder="Lastname">
    <input id="biographyInput", name="biographyInput" type="text" placeholder="Biography">
    <input id="profilePictureInput" name="profilePictureInput" type="file">
    <button type="submit">Done</button>
</form>
{% endblock %}