{% extends 'base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}
{% block description %}TaskSphere's sign-in page.{% endblock %}
{% block header %}Sign In{% endblock %}
{% block content %}
<div class="container appearAnimation mt-sm-5 mt-4">
    <form action="/authentication/signin/" method="post" class="text-white">
        {% csrf_token %}
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email address</label>
          {% if errorType == 'emailTooLong' %}
          <input required type="email" class="form-control is-invalid" name="emailInput" id="emailInput" aria-describedby="emailHelp">
          <div id="emailHelp" class="invalid-feedback">Email address is too long.</div>
          {% else %} 
          <input required value="{{email}}" type="email" class="form-control" name="emailInput" id="emailInput" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text text-white-50">Your email is only visible for people in your group.</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Password</label>
          {% if errorType == 'passwordTooLong' %}
          <input required type="password" class="form-control is-invalid" name="passwordInput" id="passwordInput" aria-describedby="passwordHelp">
          <div id="passwordHelp" class="invalid-feedback">Password is too long.</div>
          {% else %}
          <input required value="{{password}}" type="password" class="form-control" name="passwordInput" id="passwordInput">
          {% endif %}
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-lg btn-primary border-1 border-white">Submit</button>
        </div>
    </form>
</div>

<div class="container appearAnimation d-flex align-items-center justify-content-end mt-5">
    <a class="text-white me-1" href="{% url 'signup' %}">I don't have an account</a>
    <img src="{% static 'icons/arrow-right.svg' %}" alt="Arrow-right">
</div>
{% endblock %}