{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block description %}TaskSphere's sign-up page.{% endblock %}
{% block header %}Sign Up{% endblock %}
{% block content %}
<div class="container appearAnimation text-white mt-3 mt-lg-5">
    <form action="/authentication/signup/", method="post" class="row g-md-5 g-4">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="emailInput" class="form-label">Email address</label>
            <input required class="form-control" id="emailInput" name="emailInput" type="email" placeholder="name@example.com">
        </div>
        <div class="col-md-6">
            <label for="passwordInput" class="form-label">Password</label>
            <input required class="form-control" id="passwordInput" name="passwordInput" type="password" aria-describedby="passwordHelp" placeholder="Password">
            <div id="passwordHelp" class="form-text text-white-50">Must include at least 10 characters and numbers and letters</div>
        </div>

        <div class="col-md-6 d-md-block d-none"></div>

        <div class="col-md-6 col-12">
            <label for="passwordInput2" class="form-label">Repeat password</label>
            <input required class="form-control" id="passwordInput2" name="passwordInput2" type="password" aria-describedby="passwordHelp" placeholder="Password">
        </div>

        <div class="col-md-6">
            <label for="firstnameInput" class="form-label">Firstname</label>
            <input required class="form-control" id="firstnameInput" name="firstnameInput" type="text" placeholder="Firstname">
        </div>

        <div class="col-md-6">
            <label for="lastnameInput" class="form-label">Lastname</label>
            <input required class="form-control" id="lastnameInput", name="lastnameInput" type="text" placeholder="Lastname">
        </div>
        
        <div class="col-md-12">
            <label for="biographyInput" class="form-label">Biography <span class="text-white-50">(optional)</span></label>       
            <textarea id="biographyInput" name="biographyInput" class="form-control" placeholder="I'm using TaskSphere!" rows="3"></textarea> 
        </div>

        <div class="col-lg-8 col-12">
            <label for="profilePictureInput" class="form-label">Profile picture <span class="text-white-50">(optional)</span></label>
            <div class="input-group">
                <input type="file" class="form-control" id="profilePictureInput" name="profilePictureInput" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-primary border-1 border-white">Submit</button>
        </div>
    </form>
</div>
<div class="container appearAnimation d-flex align-items-center justify-content-start mb-5 mt-4 mt-md-5">
    <img src="{% static 'icons/arrow-left.svg' %}" alt="Arrow-left">
    <a class="text-white ms-1" href="/authentication/signin/">I already have an account</a>
</div>
{% endblock %}