{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Join an existing group{% endblock %}
{% block description %}Join an existing group on TaskSphere{% endblock %}
{% block header %}Sign Up{% endblock %}
{% block content %}
<div class="container appearAnimation d-flex justify-content-center fs-6 mt-2 mt-md-4">
    <h4 class="text-white">Join an existing group</h4>
</div>

<div class="container appearAnimation mt-3 mt-md-4">
    <form action="{% url 'authentication:joingroup' %}" method="post" class="text-white">
        {% csrf_token %}
        <div class="mb-3">
            <label for="groupIDInput" class="form-label">Group ID</label>
            <div class="input-group">
                <input value="{{group_id}}" required name="groupIDInput" id="groupIDInput" type="text" class="form-control w-75" aria-describedby="groupIDHelp" aria-label="ID of the group">
                <select required class="form-select bg-secondary text-white" name="groupIDEndingInput" id="groupIDEndingInput">
                    {% if not selected_value%}
                    <option selected value="">?</option>
                    {% endif %}
                    {% for item in groupIDEnding %}
                        {% if item == selected_value %}
                        <option selected value="{{item}}">{{item}}</option>
                        {% else %}
                        <option value="{{item}}">{{item}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div id="groupIDHelp" class="form-text text-white-50">Replace question mark with the ending of the group ID.</div>
        </div>
        <div class="mb-3">
          <label for="groupPasswordInput" class="form-label">Group Password</label>
          <input required type="password" class="form-control" name="groupPasswordInput" id="groupPasswordInput">
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-lg btn-primary border-1 border-white">Submit</button>
        </div>
    </form>
</div>
{% endblock %}